USER='xxxx_xxx@xx.xx'
USER_UNREGISTERED='xxxx_xxx@xx.xx'
PASSWORD='xxXXxxXxxXxxxxxxxxXX'
PASSWORD_INCORRECT='xxXXxxXxxXxxxxxxxxXX'
URL_API='https://xxx.testrail.io/index.php?/api/v2'
URL_UI='https://xxx.testrail.io/'
NAME='Xxx'
LOGIN_SELENOID='xxxxX'
PASSWORD_SELENOID='xxxx'